     <!--Logo goes here-->
           <section id="logo">
               <img src="images/{{logo}}" alt="logo image" id="logo" >
           </section>
    
       
        <div class="poster_row">
            <div class="columnone">
                <img src="images/{{poster}}" alt="poster_img image" id="poster">
            </div>
            
            <div class="columntwo">
               <h1>{{title}} i love fall
                </h1>
                <h2>{{titleTwo}}</h2>
            </div>
          </div>

          <div class="mid_row">
                <div class="columnthree">
                        <img src="images/{{midImg}}" alt="mid image" id="midImg">
                    </div>
                    <div class="columnfour">
                        <h3>{{productInfo}}</h3>
                        <p>{{desOne}}</p>
                                <p>
                                  {{desTwo}}
                                </p>

                    </div>
          </div>
          <hr class="hrone">

          <div class="bottom_row">
                <div class="columnfive">
                        <img src="images/{{bottomImg}}" alt="bottom image" id="bottomImg">
                    </div>
                    <div class="columnSix">
                        <p class="price">{{price}}</p>
                            <p class="priceInfo">
                                {{priceInfo}}
                            </p>
                                <button class="button">{{button}}</button>
                    </div>
          </div>
          <hr class="hrtwo">

          <div class="footer">
                <p class="copypara">&copy; {{copyright}}</p>
              </div>